body {
    background-image: url('../img/bghome.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -36px;
}
.start-ques {
    padding: 3.6rem 2.1rem;
    display: flex;
    background-color: #fff3db;
    justify-content: left;
    margin-left: 20.9rem;
    margin-top: 18.5rem;
    width: fit-content;
    border-radius: 50%;
    border: dashed 4px #ed8e00;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: cursive;
    font-weight: 800;
}
    .start-ques:hover {
        background-color: #ffffffa8;
        box-shadow: 0px 1px 18px 6px #090909b5;
        color: #ed8e00;
    }